@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>KavehNegar : @ViewBag.KavehNegar</p>
    <p>Pasargad : @ViewBag.Pasargad</p>
</div>

